<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stonebridge.mybatis.mapper.CustomerMapper">
    <select id="selectCustomerById" resultType="com.stonebridge.mybatis.entity.Customer">
        select customer_id, customer_name
        from t_customer
        where customer_id = #{customerId}
    </select>

    <resultMap id="selectCustomerWithOrderListResultMap" type="com.stonebridge.mybatis.entity.Customer">
        <!-- 第一部分：映射Customer自己的对应关系 -->
        <id column="customer_id" property="customerId"/>
        <result column="customer_name" property="customerName"/>

        <!-- 第二部分：映射关联关系 -->
        <!-- property属性：指定在Customer实体类中建立关联关系的orderList属性 -->
        <!-- column属性：用来给select属性指定的SQL语句传参数 -->
        <!-- select属性：指定根据customerId查询Order集合的SQL语句 -->
        <collection property="orderList"
                    column="customer_id"
                    select="com.stonebridge.mybatis.mapper.OrderMapper.selectOrderListByCustomerId"/>
    </resultMap>
    <select id="selectCustomerWithOrderList" resultMap="selectCustomerWithOrderListResultMap">
        select customer_id, customer_name
        from t_customer
        where customer_id = #{customerId}
    </select>
</mapper>